/BandBookerData/bin
/BandBookerData/obj
/BandBookerDataTest/.vs
/BandBookerDataTest/BandBookerDataTest/bin
/BandBookerDataTest/BandBookerDataTest/obj
/BandBooker/.vs/BandBooker/v16
/BandBooker/BandBooker/obj
/BandBooker/.vs
/BandBooker/BandBooker/bin
