@using Microsoft.AspNetCore.Components.Web
@using BandBookerData.Models


@if (@ShowInstrumentPanel == true)
{
    <div style="background-color:lightgray;">
        <div style="padding:1vw;">
            <EditForm Model="@Instrument" OnValidSubmit="@SubmitButtonPressed">
                <DataAnnotationsValidator />
                <ValidationSummary />
                Name:
                <InstantInputText @bind-Value="@Instrument.Name"
                                                   type="text" style="width:100%;" />
                <br /><br />
                <button class="btn btn-primary" type="submit">@SubmitButtonText</button>
                <span>&nbsp;</span>
                <button class="btn btn-warning" type="button" @onclick="CancelButtonPressed">Cancel</button>
            </EditForm>
        </div>
    </div>
}


@code {


    [Parameter]
    public EventCallback<string> CancelPressed { get; set; }

    [Parameter]
    public EventCallback<Instrument> InstrumentAdded { get; set; }

    [Parameter]
    public EventCallback<string> InstrumentUpdated { get; set; }

    [Parameter]
    public Instrument Instrument { get; set; }

    bool ShowInstrumentPanel = false;
    string SubmitButtonText = "";
    bool Adding = false;

    public void Hide()
    {
        ShowInstrumentPanel = false;
    }

    public void NewInstrument()
    {
        Adding = true;
        SubmitButtonText = "Add";
        ShowInstrumentPanel = true;
    }


    public void EditInstrument()
    {
        Adding = false;
        SubmitButtonText = "Update";
        ShowInstrumentPanel = true;
    }

    async Task SubmitButtonPressed()
    {
        if (Adding)
        {
            await InstrumentAdded.InvokeAsync(Instrument);
        }
        else
        {
            await InstrumentUpdated.InvokeAsync("");
        }
    }

    async Task CancelButtonPressed()
    {
        ShowInstrumentPanel = false;
        await CancelPressed.InvokeAsync("");
    }
}